partition FY{{ year }} = m
	mode: import
	dataView: full
	source = ```
			let
				Source = Snowflake.Databases(Datasource_Server,Datasource_Warehouse),
				PRESENTATION_Database = Source{[Name=Datasource_Database,Kind="Database"]}[Data],
				BFN_PRESENTATION_Schema = PRESENTATION_Database{[Name=Datasource_Schema,Kind="Schema"]}[Data],
				TB_BFN_VW_D365_FACT_SALES_View = BFN_PRESENTATION_Schema{[Name="TB_BFN_VW_D365_FACT_SALES",Kind="View"]}[Data],  
				#"ReplaceValueNull"  = Table.ReplaceValue(TB_BFN_VW_D365_FACT_SALES_View    , null  ,"No" ,Replacer.ReplaceValue,{"Is Revenue Affecting?"}),
				#"ReplaceValueFalse" = Table.ReplaceValue(#"ReplaceValueNull" , false ,"No" ,Replacer.ReplaceValue,{"Is Revenue Affecting?"}),
				#"ReplaceValueTrue"  = Table.ReplaceValue(#"ReplaceValueFalse", true  ,"Yes",Replacer.ReplaceValue,{"Is Revenue Affecting?"}),
				InvoiceDateSIL_Filter = Table.SelectRows(#"ReplaceValueTrue", each [Date_Key] >= {{ start_date }} and [Date_Key] < {{ end_date }})
			in
				InvoiceDateSIL_Filter
			```