	partition FY{{ year }} = m
		mode: import
		dataView: full
		source =
				let
				    Source = Snowflake.Databases(Datasource_Server,Datasource_Warehouse),
				    PRESENTATION_Database = Source{[Name=Datasource_Database,Kind="Database"]}[Data],
				    BFN_PRESENTATION_Schema = PRESENTATION_Database{[Name=Datasource_Schema,Kind="Schema"]}[Data],
				    D2C_BFN_VW_D365_FACT_SALES_View = BFN_PRESENTATION_Schema{[Name=Orders_View,Kind="View"]}[Data],
				    Date_Key_Filter = Table.SelectRows(D2C_BFN_VW_D365_FACT_SALES_View, each [Date_Key] >= {{ start_date }} and [Date_Key] < {{ end_date }})
				in
					Date_Key_Filter